<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite thread-count="100" name="Suite" parallel="methods" data-provider-thread-count="100">
    <test name="ChromeTests" thread-count="5" parallel="methods">
        <parameter name="browser" value="firefox"/>
        <classes>
            <class name="axa.tests.SimpleTest"/>
        </classes>
    </test> <!-- ChromeTests -->
</suite> <!-- Suite -->